version: '3.9'
services:
  oliverbooth:
    container_name: oliverbooth.dev
    pull_policy: build
    build:
      context: .
      dockerfile: OliverBooth/Dockerfile
    volumes:
      - type: bind
        source: /var/log/oliverbooth/site
        target: /app/logs
      - type: bind
        source: /etc/oliverbooth/site
        target: /app/data
    ports:
      - "2845:2845"
    restart: always
    environment:
      - SSL_CERT_PATH=${SSL_CERT_PATH}
      - SSL_KEY_PATH=${SSL_KEY_PATH}
      - MASTODON_TOKEN=${MASTODON_TOKEN}
      - MASTODON_ACCOUNT=${MASTODON_ACCOUNT}
