body {
  min-height: 100vh;
}

html {
  min-height: 100vh;
}

main {
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.card {
  background: #FFFFFF;
  color: #1E1E1E;
}

.btn.btn-orange {
  background: orange;
  color: #000;
}

table {
  td, th {
    vertical-align: middle;
  }
}

pre {
  background: #1e1e1e;

  code mark, code mark span {
    background: #d8ba76 !important;
    color: #000 !important;
  }
}

code[class*="language-"] {
  background: none !important;
}

article {
  *:last-child {
    margin-bottom: 0;
  }
}

div.alert {
  *:last-child {
    margin-bottom: 0;
  }
}

#save-button {
  transition: 0.4s;
  width: 10em;
}

textarea {
  font-family: monospace;
}

#editing-area {
  .toolbar {
    display: none;
  }
}

#highlighting, #content {
  padding: 10px;
  border: 0;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
}

#highlighting, #content, #highlighting * {
  font-size: 12pt;
  font-family: monospace;
  line-height: 15pt;
}

#highlighting {
  z-index: 0;
  background: #1E1E1E;
}

#content {
  z-index: 10;
  color: transparent;
  background: transparent;
  caret-color: #FFFFFF;
  resize: none;
  overflow-wrap: normal;
  overflow-x: scroll;
  white-space: pre;
  
  &:focus {
    outline: none;
  }
}

#highlighting-content, #highlighting-content code {
  white-space: pre !important;
}

#content, .highlighting-container .code-toolbar {
  grid-column: 1;
  grid-row: 1;
}

.highlighting-container {
  display: grid;
  max-width: 50%;
  max-height: calc(100vh - 35px);
  overflow: scroll;
}

.highlighting-container .code-toolbar {
  height: 100%;
  
  .toolbar {
    display: none;
  }
}
