$font: "Comic Sans MS", cursive !important;

html, body {
  background: #c7e7ff url("/img/cloud_672x148.gif") repeat !important;
}

html, body, * {
  font-family: serif !important;
  color: #f00;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font;
  text-transform: uppercase !important;
}

a:link {
  color: #00f !important;
  text-decoration: underline !important;
}

a:visited {
  color: #909 !important;
  text-decoration: underline !important;
}
a:hover {
  color: #00f !important;
  text-decoration: underline !important;
}
a:active {
  color: #909 !important;
  text-decoration: underline !important;
}

footer, footer *{
  color: #000 !important;
}

.rounded-circle {
  border-radius: 0 !important;
}

main.container {
  background: #ff0 !important;
}

.alert {
  border-radius: 0 !important;
}

input.form-control, textarea.form-control {
  background: #fff !important;
  color: #000 !important;
  font-family: $font;
  
  &::placeholder {
    color: #9e9e9e !important;
  }
}