html, body {
  background: #121212;
  color: #f5f5f5;
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

main.container {
  background: #333;
  padding: 20px;
}

a {
  &:link, &:visited, &:hover, &:active {
    text-decoration: none;
    color: #03A9F4;
  }

  &:hover {
    color: #ffffff;
  }
}

#site-title {
  a {
    &:link, &:visited, &:hover, &:active {
      text-decoration: none;
      color: white;

      * {
        font-family: 'Roboto Mono', monospace;
        text-decoration: none;
        color: white;
      }
    }
  }
}

hr.page-separator {
  border-top: 5px dashed #ffffff;
  opacity: 1;
  margin: 50px 0;
}

@media (min-width: 992px) {
  .container {
    max-width: 700px !important;
  }
}

ul.contact-reasons {
  list-style-type: none;
  padding: 0;

  li {
    margin-bottom: 10px;
    margin-left: 0;
    padding: 0;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      &:link, &:visited, &:hover, &:active {
        text-decoration: none;
        color: white;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.card {
  background: #212121;
  color: #ffffff;

  a.btn, button {
    color: #ffffff;
  }
}

nav {
  margin: 0 auto;
  max-width: 960px;
  text-align: center;

  ul.site-nav {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;

    li {
      display: inline-block;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      a {
        font-size: 24px;

        &:link, &:visited, &:hover, &:active {
          text-decoration: none;
          color: white;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.blog-author-icon {
  border-radius: 50%;
}

article {
  background: #333333;
  padding: 20px;

  *:last-child {
    margin-bottom: 0;
  }

  blockquote {
    border-left: 2px solid #f03;
    padding-left: 10px;
  }

  p > img.img-fluid {
    text-align: center;
  }

  iframe {
    text-align: center;
  }

  div.math {
    text-align: center;
    font-size: 32px;
    margin: 50px 0;
  }

  abbr {
    text-decoration: none;
    border-bottom: 1px dotted #ffffff;
  }

  span.timestamp {
    background: lighten(#333333, 12.5%);
    border-radius: 2px;
    padding: 2px;
  }
}

.project-card {
  position: relative;
  background: #000;
  box-shadow: 0 0 15px rgba(0, 0, 0, .1);

  &:hover {
    .project-image {
      img {
        transform: scale(110%);
      }

      p.project-title {
        font-size: 1.2em;
        margin: calc(-35px - .2em) 0 0;
      }
    }
  }

  .project-image {
    overflow: hidden;

    img {
      z-index: -2;
      transform: scale(100%);

      transition: transform 500ms;
    }

    a {
      &:link, &:visited, &:hover &:active {
        color: #fff;
      }
    }

    p.project-title {
      font-size: 1em;
      transition: font-size 500ms, margin 500ms;
      position: relative;
      bottom: 0;
      width: 100%;
      margin: -34px 0 0;
      padding: 5px;
      background-color: rgba(#000, 50%);
    }
  }
}

.blog-card {
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  article {
    background: none;
    padding: 0;
  }
}

pre {
  background: #1e1e1e;

  code mark, code mark span {
    background: #d8ba76 !important;
    color: #000 !important;
  }
}

code[class*="language-"] {
  background: none !important;
}

:root {
  color-scheme: light dark;
}

#disqus_thread iframe {
  color-scheme: light;
}

div.alert *:last-child {
  margin-bottom: 0 !important;
}

.spoiler {
  background: #1e1e1e;
  color: #1e1e1e;
  cursor: pointer;
  padding: 2px 10px;
  border-radius: 5px;
  margin: 10px 0;

  &.spoiler-revealed {
    background: lighten(#333333, 12.5%);
    color: #ffffff;
  }
}

#blog-loading-spinner {
  margin: 20px;
  height: auto;
  opacity: 1;

  &.removed {
    margin: 0;
    height: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
}

a.bmc-btn {
  &:link, &:visited, &:active {
    color: #000;
  }

  &:hover {
    color: #fff;
  }
}

.text-orange {
  color: #f60 !important;
}

.accordion.faq {
  margin: 20px 0;
}

.footer-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    display: inline-block;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

a.brand-mastodon {
  &:link, &:visited, &:hover, &:active {
    text-decoration: none;
    color: #5a48dd;
  }

  &:hover {
    color: #fff;
  }
}

a.brand-linkedin {
  &:link, &:visited, &:hover, &:active {
    text-decoration: none;
    color: #0077b5;
  }

  &:hover {
    color: #fff;
  }
}

table.reading-list {
  th, td {
    vertical-align: middle;
  }
}

.book-cover {
  width: 50px;
  vertical-align: middle;
}

td.trim-p p:last-child {
  margin-bottom: 0;
}

#usa-countdown {
  background-image: url('/img/us-flag-cover_512x166.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  cursor: pointer;
  * {
    cursor: pointer;
  }

  .usa-countdown-element {
    margin: 10px 0;
    padding: 5px;
    font-family: "Gabarito", sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 3em;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;

    &:first-child {
      border-left: none;
    }
    &:last-child {
      border-right: none;
    }
  }
}

.post-tags a.badge {
  transition: color 250ms, background-color 250ms;
  
  &:link, &:visited, &:active {
    background-color: #2D2D2D !important;
    color: #fff;
  }

  &:hover {
    color: #03A9F4;
    background-color: #1E1E1E !important;
  }
}

.mastodon-update-card.card {
  background-color: desaturate(darken(#6364FF, 50%), 50%);
  margin-bottom: 50px;
  
  p:last-child {
    margin-bottom: 0;
  }
  
  button.btn.btn-mastodon {
    background-color: #6364FF;
  }
}